@import "tailwindcss";

@theme {
  --font-montserrat: "Montserrat", sans-serif;
}
@theme {
  --font-montserrat: "Montserrat", sans-serif;
  --font-inter: "Inter", sans-serif;
}
@theme {
  --font-oswald: "Oswald", sans-serif;
}